@font-face {
  font-family: "Stratum2";
  src: url("./assets/fonts/494b85d81f6adede58cdc1c6bc900d4f.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stratum2";
  src: url("./assets/fonts/ee7b83fb7e841252c3960ddb684c9594.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stratum2";
  src: url("./assets/fonts/d90ea58daa01cff6a6b78aeeac9d6caf.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
