.main-block {
  background-image: url(../../assets/svg/bgDarkBlue.svg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #3b415c;
  display: flex;
  flex-direction: column;
  align-items: center;
  & :global [data-scroll="in"] {
    animation: fade-in-left 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .animation {
    width: 100%;
  }
  .video-container {
    text-align: center;
    video {
      width: 100%;
      min-height: 450px;
      max-width: 900px;
      margin: 30px 0px;
      padding: 40px 30px;
    }
  }
}
