.main-block {
  background-image: url(../../assets/svg/bgGray.svg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  .animation {
    &[data-scroll="in"] {
      animation: fade-in-right 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111;
    .heading {
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 10px;
      margin-top: 50px;
      max-width: 750px;
      line-height: 105%;
    }
    .paragraph {
      font-size: 22px;
      text-align: justify;
      width: 80%;
      max-width: 650px;
    }
    > video {
      width: 100%;
      min-height: 450px;
      max-width: 900px;
      margin: 30px 0px;
      padding: 40px 30px;
    }
  }
}
@keyframes fade-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
