@use "normalize.css/normalize.css";
@use "./assets/fonts/fonts.scss";
body {
  font-family: Stratum2, sans-serif;
}
* {
  box-sizing: border-box;
}
//compareImg override
[data-testid] {
  background-color: #eee !important;
  display: block !important;
}
//animation
// [data-scroll] {
//   transition: opacity 1s;
// }
// [data-scroll="in"] {
//   opacity: 1;
// }
// [data-scroll="out"] {
//   opacity: 0;
// }
