@use "normalize.css/normalize.css";
@use "./assets/fonts/fonts.scss";
body {
  font-family: Stratum2, sans-serif;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
//compareImg override
[data-testid] {
  background-color: #eee !important;
  display: block !important;
}
//animation
@keyframes fade-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
