.main-block {
  background-image: url(../../assets/svg/bgDarkBlue.svg);
  background-color: #434963;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px;
  & :global [data-scroll="in"] {
    animation: fade-in-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .intro-box {
    padding: 50px 60px;
    background-color: #4d526a;
    max-width: 650px;
    &__header {
      font-size: 50px;
      color: rgba(255, 255, 255, 0.9333333333);
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 110%;
      &--minor {
        font-weight: normal;
        color: #fff;
        font-style: normal;
      }
    }
    &__paragraph {
      color: rgba(255, 255, 255, 0.9176470588);
      margin-top: 25px;
      text-align: justify;
      line-height: 120%;
    }
  }
}
